<div class="container content">
    <div class="page-header">
        <div class="container">
            <h1>Ruteo simple</h1>
            <div class="navLinks">
                <a [routerLink]="['home']"> Home </a>
                <a [routerLink]="['pokemon/:id']"> Pokemon </a>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">
            Wish List 1.0
        </h1>
    </div>  

    <div class="row">
        <div class="col-md-12">
            <p> Este es el contenido de la página principal </p>
        </div>
    </div>

    <router-outlet></router-outlet>
    <!-- 
    <app-lista-pokemon></app-lista-pokemon>
    -->
</div>