<!--  
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="display-3"> Wish List Pokemones</h2>
            <ul class="list-group list-style">
                <app-pokemon class="list-group-item" *ngFor= "let x of listaPokemones" [nombre]="x"></app-pokemon>
            </ul>
        </div>
    </div> 
</div>
-->



<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback -->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3	class="mb-0">Whishlist</h3>
                </div>

                <div class="card-body">
                    <app-form-pokemon (onItemAdded)="agregado($event)">
                    </app-form-pokemon>
                </div>
            </div>
        </div>
    </div>

    <hr	class="mb-5">

    <div class="row row-flex">
        <app-pokemon 
        *ngFor="let p of pokemonApiClient.getAll(); let i=index" 
        [pokemon]="p"
        [indice]="i+1"
        (clicked)="elegido($event)">
        </app-pokemon>
    </div>

    <hr	class="mb-5">

    <div class="row row-flex">
        <h4> Actividad </h4>
        <ul>
            <li *ngFor="let u of updates;"> {{u}} </li>
        </ul>
    </div>
</div>