<!--   
<li class="list-troup item"> {{nombre}}</li>
-->

 


    <div class="card-content">
        <div class="card-img">
            <img src="https://vignette.wikia.nocookie.net/espokemon/images/7/77/Pikachu.png/revision/latest/scale-to-width-down/350?cb=20150621181250"	alt="pikachu">
            <span>
                <h4>{{indice}}</h4>
            </span>
        </div>
        
        <div class="card-desc">
            <h3>{{pokemon.imagenUrl}}</h3>
                <p>Ataques </p>
                <ul>
                    <li *ngFor="let a of pokemon.ataques"> 
                        <span [ngSwitch]="a"> 
                            <i *ngSwitchCase="'Impactrueno'" style="font-weight: bold;">{{a}}</i>
                            <i *ngSwitchDefault> {{a}} </i>
                        </span> 
                    </li>
                </ul>
                <a href="#" class="btn-card" (click)="ir()">Ir!</a>	 		
                <span *ngIf="pokemon.isSelected()"> 
                    <span ngNonBindable> -Preferido- </span>
                </span>
                <a [routerLink]="['/destino']"> Ver detalles </a>
        </div>
    </div>



